.btn{
    background-color:blueviolet;

}
.btn:hover{
    background-color: brown;
    transform: scale(1.5);
}
.username:focus{
    background-color: aqua;

}
.child:nth-child(3){
    background-color: yellowgreen;
}
.title::after{
    content:"TPM";
    color:aqua;
    font-weight: bold;
}